.letter-reading__tool-panel {
    width: 100%;
    border-top: 1px solid var(--border-color);

    display: flex;
    flex-basis: var(--bar-height);
    flex-direction: row-reverse;
    flex-shrink: 0;
    align-items: center;
}

.tool-panel__delete-button, .tool-panel__forward-button, .tool-panel__reply-button {
    border-radius: 5px;
    border: 1px solid var(--btn-color);
    height: 30px;
    width: 100px;
    margin: 0 10px;
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
    vertical-align: center;
    display: block;

    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease-out;
}

.tool-panel__delete-button {
    color: #fff;
    background: var(--btn-color);
}

.tool-panel__delete-button:active {
    color: var(--btn-color);
    background: #fff;
}

.tool-panel__forward-button, .tool-panel__reply-button {
    color: var(--btn-color);
    background: #fff;
}

.tool-panel__forward-button:active, .tool-panel__reply-button:active {
    color: #fff;
    background: var(--btn-color);
}